<%= form_with(model: snowball, local: true) do |form| %>
  <% if snowball.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snowball.errors.count, "error") %> prohibited this snowball from being saved:</h2>

      <ul>
      <% snowball.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= form.label :monthly_amount %>
    <%= form.text_field :monthly_amount, value: money(@snowball.monthly_amount_cents), class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= form.submit %>
  </fieldset>
<% end %>
