<%= form_with(model: snowball, local: true, html: { class: "pure-form" }) do |form| %>
  <% if snowball.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snowball.errors.count, "error") %> prohibited this snowball from being saved:</h2>

      <ul>
      <% snowball.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </fieldset>

  <fieldset>
    <%= form.submit %>
  </fieldset>
<% end %>
