<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @snowball.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Interest Rate</th>
      <th>Initial Balance</th>
      <th>Current Balance</th>
      <th>Difference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snowball.accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= percentage account.interest_rate %></td>
        <td style="text-align: right"><%= money account.initial_balance %></td>
        <td style="text-align: right"><%= money account.current_balance %></td>
        <td style="text-align: right"><%= money account.current_difference %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td>Total</td>
      <td></td>
      <td style="text-align: right"><%= money @total_balance %></td>
      <td colspan="3"></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %> |
<%= link_to 'Edit', edit_snowball_path(@snowball) %> |
<%= link_to 'Back', snowballs_path %>
