<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @snowball.name %>
</p>

<p>
  <strong>Monthly Amount:</strong>
  <%= money @snowball.monthly_amount_cents %>
</p>

<% if @snowball.monthly_amount_cents && @total_current %>
  <p>
    <% if @total_current.zero? %>
      <strong>You're all paid up!</strong>
    <% else %>
      If you pay <strong><%= money @snowball.monthly_amount_cents %></strong> every month,
      you'll be paid off in <strong><%= remaining_duration(@total_current, @snowball.monthly_amount_cents) %></strong>.
    <% end %>
  </p>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Interest Rate</th>
      <th>Minimum Payment</th>
      <th>Initial Balance</th>
      <th>Current Balance</th>
      <th>Difference</th>
    </tr>
  </thead>

  <tbody>
    <% @snowball.accounts.each do |account| %>
      <tr>
        <td><%= link_to account.name, account %></td>
        <td><%= percentage account.interest_rate %></td>
        <td class="money"><%= money account.minimum_payment_amount_cents %></td>
        <td class="money"><%= money account.initial_balance %></td>
        <td class="money"><%= money account.current_balance %></td>
        <td class="money <%= money_color_class account.current_difference %>"><%= money account.current_difference %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3">Total</td>
      <td class="money"><%= money @total_initial %></td>
      <td class="money"><%= money @total_current %></td>
      <td class="money <%= money_color_class @total_difference %>"><%= money @total_difference %></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %> |
<%= link_to 'Edit Snowball', edit_snowball_path(@snowball) %> |
<%= link_to 'Delete Snowball', @snowball, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Snowball List', snowballs_path %>
