<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="form-group">
    <%= form.label :account_id %>
    <%= form.select :account_id, Account.all.map{ |a| [a.name, a.id] }, {}, { class: "custom-select" } %>
  </fieldset>

  <fieldset class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, value: Date.today, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <div>
      <%= form.label :amount %>
      <%= form.text_field :amount, class: "form-control" %>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <%= form.label(:charge_indicator, "Payment", class: "btn btn-secondary #{"active" if payment?(@transaction.amount_cents)}") do %>
        Payment
        <%= form.radio_button :charge_indicator, :payment, checked: payment?(@transaction.amount_cents) %>
      <% end %>

      <%= form.label(:charge_indicator, "Charge", class: "btn btn-secondary #{"active" if charge?(@transaction.amount_cents)}") do %>
        Charge
        <%= form.radio_button :charge_indicator, :charge, checked: charge?(@transaction.amount_cents) %>
      <% end %>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <div>
      <%= form.label :new_balance %>
      <%= form.text_field :new_balance, class: "form-control" %>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <%= form.submit %>
  </fieldset>
<% end %>
