<%= form_with(model: transaction, local: true, html: { class: "pure-form" }) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= form.label :account_id %>
    <%= form.select :account_id, Account.all.map{ |a| [a.name, a.id] } %>
  </fieldset>

  <fieldset>
    <%= form.label :date %>
    <%= form.date_field :date, value: Date.today %>
  </fieldset>

  <fieldset>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </fieldset>

  <fieldset>
    <%= form.label :amount %>
    <%= form.text_field :amount, value: money(@transaction.amount_cents) %>
  </fieldset>

  <fieldset>
    <%= form.submit %>
  </fieldset>
<% end %>
