<%= form_with(model: account, local: true, html: { class: "pure-form" }) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= form.label :snowball_id %>
    <%= form.select :snowball_id, Snowball.all.map{ |s| [s.name, s.id] } %>
  </fieldset>

  <fieldset>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </fieldset>

  <fieldset>
    <%= form.label :interest_rate %>
    <%= form.number_field :interest_rate, step: 0.001 %>
  </fieldset>

  <% if account.new_record? %>
    <fieldset>
      <%= form.label :initial_balance %>
      <%= form.number_field :initial_balance, step: 0.01, value: '' %>
    </fieldset>
  <% end %>

  <fieldset>
    <%= form.submit %>
  </fieldset>
<% end %>
