<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :interest_rate %>
    <%= form.number_field :interest_rate, step: 0.001 %>
  </div>

    <div class="field">
      <%= form.label :initial_balance %>
      <% if account.new_record? %>
        <%= form.number_field :initial_balance, step: 0.01, value: '' %>
      <% else %>
        <p><%= money account.initial_balance %></p>
      <% end %>
    </div>

  <div class="field">
    <%= form.label :snowball_id %>
    <%= form.select :snowball_id, Snowball.all.map{ |s| [s.name, s.id] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
