<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Interest Rate:</strong>
  <%= number_to_percentage @account.interest_rate %>
</p>

<p>
  <strong>Snowball:</strong>
  <%= @account.snowball %>
</p>

<%= form_with(model: @new_transaction) do |form| %>
  <% if @new_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @new_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.date %></td>
          <td><%= transaction.description %></td>
          <td><%= money transaction.amount_cents %></td>
          <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
          <td><%= link_to 'Delete', transaction, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <tr>
        <td><%= form.date_field :date, value: Date.today %></td>
        <td><%= form.text_field :description %></td>
        <td><%= form.text_field :amount, value: money(@new_transaction.amount_cents) %></td>
        <td colspan="2"><%= form.submit %></td>
      </tr>
      <tr>
        <td></td>
        <td>Total</td>
        <td><%= money @account.current_balance %></td>
        <td colspan="2"></td>
      </tr>
    </tbody>
  </table>
  <%= form.hidden_field :account_id, value: @account.id %>
<% end %>

<%= link_to 'Edit Account', edit_account_path(@account) %> |
<%= link_to 'Account List', accounts_path %>
